body {
  background: #222222;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

h1 {
  background: url(../img/logo.png) top left no-repeat;
  display: block;
  width: 693px;
  height: 101px;
  margin: 20px auto 50px auto;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 9999px;
}
h2 {
  font-size: 18px;
  font-weight: 200;
}

div {
  &.tagline {
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    small {
      font-size: 12px;
    }
  }
  &.player {
    display: block;
    width: 400px;
    margin: 25px auto;
  }
}

form {
  .subscribe {
    text-align: center;
    display: block;
    width: 300px;
    margin: 50px auto;
    h2 {
      text-align: left;
    }
  }
}
