body {
  background: #222222;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

h1 {
  background: url(../img/logo.png) top left no-repeat;
  display: block;
  width: 693px;
  height: 101px;
  margin: 20px auto 50px auto;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 9999px;
}

p {
  &.tagline1 {
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    small {
      font-size: 12px;
    }
}

form {
  &#mc-embedded-subscribe-form {
    text-align: center;
  }
}
