body {
  background: #222222;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  padding: 50px;
}

h1 {
  background: url(../img/logo.png) top left no-repeat;
  display: block;
  width: 693px;
  height: 101px;
  margin: 20px auto 50px auto;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 9999px;
}
h2 {
  font-size: 22px;
  font-weight: 100;
}

div {
  &.tagline {
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    small {
      font-size: 12px;
    }
  }
  &.player {
    display: block;
    width: 400px;
    margin: 25px auto;
  }
}

form {
  &.subscribe {
    display: block;
    width: 400px;
    margin: 100px auto;
    p {
      font-size: 12px;
      font-weight: 300;
    }
  }
  input {
    &[type=submit] {
      color: #ffffff;
      background: #e34559;
      padding: 10px 15px;
      font-family: 'Helvetica Neue', Helvetica, Arial;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      &:hover {
        background: #f06274;
      }
    }
    &[type=text], 
    &[type=email] {
      color: #666666;
      background: #ffffff;
      padding: 8px 13px;
      font-family: 'Helvetica Neue', Helvetica, Arial;
      font-size: 14px;
      border: 2px solid #cccccc;
      border-radius: 4px;
    }
  }
}
